@font-face {
	font-family: customfont;
	src: url("Airmole Antique.ttf");
}

body {
	text-align: center;
	background-image: url(/images/white_wall.png);
	color: gray;
	font-family: customfont, Georgia, Serif;
	margin: 0;
	padding: 0;
}

header {
	padding: 15px;
	background-color: rgba(200,255,255, 0.8);
	box-shadow: 1px 0 3px rgba(0,0,0, 0.3);
}

#workspace {
	width: 600px;
	min-height: 300px;
	border: 10px solid gray;
	margin: 0 auto;
	position: relative;
}

#workspace img {
	width: 600px;
}

#caption {
	position: absolute;
	top: 10px;
	left: 10px;
	font-weight: bold;
	font-family: Helvetica;
	text-shadow: 0 0 5px rgba(0,0,0,0.4);
	width: 400px;
	font-size: 32px;
	color: red;
	margin: 0;
}

#select-image {
	background-color: rgba(255,255,255,0.5);
	padding: 10px;
}

#add-text {
	background-color: rgba(0,255,255, 0.02);
	padding: 10px;
	box-shadow: 1px 0 3px rgba(0,0,0, 0.3);
}

#add-text input {
	width: 600px;
	text-align: center;
}

input, button {
	font-size: 16px;
}

#style-image {
	background-color: rgba(255,255,255, 0.7);
	padding: 10px;
	box-shadow: 1px 0 3px rgba(0,0,0, 0.5)
}

#controls {
	padding: 10px;
	font-size: 16px;
}

input[type="number"] {
	width: 50px;
}

footer {
	background-color: rgba(255,0,255,0.01);
	padding: 10px;
	text-align: left;
	box-shadow: -1px 0 5px rgba(0,0,0, 0.5);
}

footer img {
	float: left;
	margin-right: 40px;
}

footer div {
	margin: 10px 0;
}

#search-results {
	margin-left: 15%;
	margin-right: 15%;
}

#search-results img {
	height: 100px;
	margin: 10px;
	border: 2px solid gray;
	box-shadow: 10px 10px 25px rgba(0,0,0, 0.5);
}

#branding img {
	left: 150px;
}
